body {
	background-color: rgb(64, 225, 240);
}


h1 {
	color: rgb(14, 13, 13);
	background-color: rgb(72, 151, 220);
}

ul>li {
	margin: 0 5px;
	cursor: pointer;
	transition: .5;
}


ul>li:hover {
	background-color: aquamarine;
}


ul {
	display: flex;
	flex-direction: column;
	list-style: none;
}

#task-prompt {
	font-size: 16pt;
}